body {
    background-color: #000000;
    background-image: url(img/temback.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

@media (max-width: 540px) {
    body {
    background-color: #000000;
    background-image: none;
    }
}

@media (max-width: 280px) {
    header {
        margin-left: 85px;
    }
}

@media (max-width: 540.98px) {
    #top {
    background-color: #000000;
    background-image: url(img/temback.png);
    background-position: center center;
    background-size: cover;
    height:667px; 
    }
}

a {
    color:#afafaf;
}

a:visited {
    color:#afafaf;
}

a:active {
    color: #afafaf;
}

i {
    margin-top: 20px;
    margin-right: 10px;
    color: #ffffff !important;
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}

@media (max-width: 820px) {
    i {
    margin-left: 10px;
    margin-top: 30px;
    }
}

@media (max-width: 575.98px) {
    i {
        margin-top: 20px;
    margin-left: 25px;
    }
}

#logo {
    width: 200px;
    height: 100%;
} 

@media (max-width: 912px) {
    #logo {
        margin-top: 40px;
    }
}

@media (max-width: 820px) {
    #logo {
        margin-top: 30px;
    }
}

@media (max-width: 767.98px) {
    #logo {
        margin-top: 30px;
        margin-left: -260px;
    }
}

@media (max-width: 575.98px) {
    #logo {
        margin-left: -235px;
    }
}

@media (max-width: 540px) {
    #logo {
        margin-left: -340px;
    }
}

@media (max-width: 539.98px) {
    #logo {
        margin-left: -220px;
    }
}

@media (max-width: 393.98px) {
    #logo {
        margin-left: -210px;
    }
}

@media (max-width: 390.98px) {
    #logo {
        margin-left: -205px;
    }
}

@media (max-width: 375.98px) {
    #logo {
        margin-left: -7.5px;
        margin-top: -5px;
    }
}

@media (max-width: 360.98px) {
    #logo {
        margin-left: -180px;
    }
}

@media (max-width: 280.98px) {
    #logo {
        margin-left: -185px;
    }
}

a:hover {
    color: rgb(255, 0, 0) !important;
}

i:hover {
        color: rgb(255, 0, 0) !important;
}

.nav {
    position:relative;
    bottom:-95px
}

@media (max-width: 1199.98px) {
    .nav {
        margin-top: -70px;
        margin-bottom: 75px;
    }
}

@media (max-width: 1152px) {
    .nav {
        margin-top: -80px;
        margin-bottom: 75px;
    }
}

@media (max-width: 1024px) {
    .nav {
        margin-top: -80px;
        margin-bottom: 75px;
    }
}

@media (max-width: 912px) {
    .nav {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media (max-width: 820px) {
    .nav {
        margin-top: -80px;
        margin-bottom: 70px;
}
}

@media (max-width: 800px) {
    .nav {
        margin-top: -90px;
        margin-bottom: 70px;
}
}

@media (max-width: 575.98px) {
    .nav {
        margin-top: -110px;
        margin-bottom: 0px;
    }
}

@media (max-width: 375.98px) {
    .nav {
        margin-top: -110px;
        margin-left: 15px;
        margin-bottom: 0px;
    }
}

@media (max-width: 360px) {
    .nav {
        margin-top: -110px;
        margin-left: 15px;
        margin-bottom: 0px;
    }
}

@media (max-width: 540px) {
    #icons {
        margin-top: 20px;
    }
}

@media (max-width: 414px) {
    #icons {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 375.98px) {
    #icons { 
        margin-right: 28px;
    }
}

.nav-link {
    font-family: 'Cinzel', serif;
    font-weight:500;
    font-size: 22px;
    color: white !important;
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
    padding-right: 100px;
}

@media (max-width: 991.98px) {
    .nav-link {
        padding-right: 20px;
        margin-top: 10px;
    }
}

@media (max-width: 912px) {
    .nav-link {
        padding-right: 25px;
        margin-top: 10px;
    }
}

@media (max-width: 820px) {
    .nav-link {
        padding-right: 40px;
        margin-top: 10px;
    }
}

@media (max-width: 540px) {
    .nav-link {
        padding-right: 400px;
        margin-left:10px;
    }
}

@media (max-width: 539.98px) {
    .nav-link {
        padding-right: 300px;
        margin-left:10px;
    }
}

@media (max-width: 375.98px) {
    .nav-link { 
        margin-left: 267px;
        margin-bottom: 45px;
    }
}

#post-div{
    background-color: #000000;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 25px;
    overflow: hidden;
}

@media (max-width: 575.98px) {
    #post-div {
        margin-top: 110px;
    }
}

@media (max-width: 540px) {
    #post-div {
        margin-top: 0px;
    }
}

#post-title {
    position:relative;
    left: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-decoration: underline;
    color: white;
}

#post-content{
    position:relative;
    bottom:-15px;
    left: 15px;
    padding: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
}

@media (max-width: 820px) {
    #post-content {
        font-size: 20px;
    }
}

@media (max-width: 575.98px) {
    #post-content {
        font-size: 16px;
    }
}

#snide {
    width: 250px;
    height: auto;
}

#caption {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: white;
}

#flyer {
    width: auto;
    height: 450px;
}

@media (max-width: 912px) {
    #flyer {
        width: 600px;
    height: auto;
    }
}

@media (max-width: 820px) {
    #flyer {
        width: 600px;
    height: auto;
    }
}

@media (max-width: 767.98px) {
    #flyer {
        width: 450px;
    height: auto;
    }
}

@media (max-width: 575.98px) {
    #flyer {
        width: 275px;
    height: auto;
    }
}

@media (max-width: 280px) {
    #flyer {
        width: 200px;
    height: auto;
    }
}

@media (max-width: 767.98px) {
    #youtube {
        width: 450px;
    height: auto;
    }
}

@media (max-width: 575.98px) {
    #youtube {
        width: 275px;
    height: auto;
    }
}

@media (max-width: 280px) {
    #youtube {
        width: 200px;
    height: auto;
    }
}

#cover {
    height: 500px;
    width: auto;
}

@media (max-width: 820px) {
    #cover {
        width: 600px;
    height: auto;
    }
}

@media (max-width: 767.98px) {
    #cover {
        width: 450px;
    height: auto;
    }
}

@media (max-width: 575.98px) {
    #cover {
        width: 275px;
    height: auto;
    }
}

@media (max-width: 280px) {
    #cover {
        width: 200px;
    height: auto;
    }
}

#songtitles {
    text-align: center;
    font-family: 'Cinzel', serif;
    font-weight:500;
    font-size: 16px;
    text-align: left;
}

@media (max-width: 820px) {
    #songtitles {
        font-size: 24px;
    }
}

@media (max-width: 575.98px) {
    #songtitles {
        font-size: 16px;
    }
}

#albumtitle {
    font-family: 'Cinzel', serif;
    font-weight:500;
    font-size: 20px;
    text-decoration: underline;
    filter: drop-shadow(-1px 2px 2px #000000);
}

@media (max-width: 820px) {
    #albumtitle {
        font-size: 26px;
    }
}

@media (max-width: 575.98px) {
    #albumtitle {
        font-size: 20px;
    }
}

#footer {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;

}

@media (max-width: 540px) {
    #footer {
        background-color: #000000;
        background-image: url(img/temback.png);
        background-position: center center;
        background-size: cover;
    }
}

@media (max-width: 912px) {
    #footer1 {
       margin-right: 30px;
       margin-top: 10px;
    }
}

@media (max-width: 539.98px) {
    #footer1 {
        display:none;
    }
}

@media (max-width: 912px) {
    #footer2 {
       margin-left: -200px;
       margin-top: 10px;
    }
}

@media (max-width: 820px) {
    #footer2 {
       margin-right:60px;
       margin-left:-150px;
       margin-top: 10px;
    }
}

@media (max-width: 540px) {
    #footer2 {
        margin-top: 20px;
    }
}

@media (max-width: 539.98px) {
    #footer2 {
        margin-top: -80px;
        margin-left: 70px;
    }
}

@media (max-width: 414.98px) {
    #footer2 {
        margin-top: -100px;
        margin-left: 55px;
    }
}

@media (max-width: 375.98px) {
    #footer2 {
        margin-top: -110px;
        margin-left: 72.5px;
    }
}

@media (max-width: 912px) {
    #footer3 {
       margin-left: -180px;
       margin-top: 10px;
    }
}

@media (max-width: 820px) {
    #footer3 {
       margin-left: -180px;
       margin-top: 10px;
    }
}

@media (max-width: 539.98px) {
    #footer3 {
       margin-left: -481px;
       margin-top: 120px;
    }
}

@media (max-width: 414.98px) {
    #footer3 {
       margin-left: -467px;
       margin-top: 120px;
    }
}

@media (max-width: 393px) {
    #footer3 {
       margin-left: -452px;
       margin-top: 120px;
    }
}

@media (max-width: 390px) {
    #footer3 {
       margin-left: -451px;
       margin-top: 120px;
    }
}

@media (max-width: 375.98px) {
    #footer3 {
       margin-left: -320px;
       margin-top: 130px;
    }
}

@media (max-width: 375.98px) {
    #logo3 {
       margin-bottom: -35px;
    }
}

@media (max-width: 360px) {
    #footer3 {
       margin-left: -435px;
       margin-top: 120px;
    }
}

@media (max-width: 280px) {
    #footer3 {
        margin-left: -395px;
        margin-top: 150px;
     }
}

#post-arrows1{
    position:relative;
    bottom:-15px;
    left: 15px;
    padding: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
    text-align: right;
}

#post-arrows2{
    position:relative;
    bottom:-15px;
    left: 15px;
    padding: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
    text-align: left;
}

@media (max-width: 575.98px) {
    #post-arrows2 {
        margin-left: -55px;
    }
}

#arrow {
    margin-left: 10px;
}

#shows {
    width: 400px;
    height: auto;
}

@media (max-width: 912px) {
    #shows {
        width: 600px;
    height: auto;
    }
}

@media (max-width: 820px) {
    #shows {
        width: 600px;
    height: auto;
    }
}

@media (max-width: 767.98px) {
    #shows {
        width: 450px;
    height: auto;
    }
}

@media (max-width: 575.98px) {
    #shows {
        width: 275px;
    height: auto;
    }
}

@media (max-width: 280px) {
    #shows {
        width: 200px;
    height: auto;
    }
}

@media (max-width: 767.98px) {
    #cattle {
        width: 450px;
    height: auto;
    }
}

@media (max-width: 575.98px) {
    #cattle {
        width: 275px;
    height: auto;
    }
}

@media (max-width: 280px) {
    #cattle {
        width: 200px;
    height: auto;
    }
}

#logo2 {
    width: 125px;
    height: auto;
    filter: drop-shadow(-1px 2px 2px #ff0000);
    margin-right: 200px;
}

#logo3 {
    width: 125px;
    height: auto;
    filter: drop-shadow(-1px 2px 2px #ff0000);
    margin-left: 200px;
}